.label {
  color: white;
  font-size: 16px;
}

.top-input {
  display: flex;
}

input[type="text"], .select-custom {
  margin-top: 11px;
  color: black;
  outline: none;
  border: none;
  background: #B3DFD3;
  border-radius: 8px;
  padding: 10px 13px 9px 13px;
  font-size: 16px;
  width: calc(100% - 169px);
  height: fit-content;

  &:focus::placeholder {
    color: transparent;
  }

  &::placeholder {
    color: black;
  }
}

input[type="button"] {
  outline: none;
  border: none;
  background: black;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 14px;
  margin-top: 11px;
  padding: 10px 14px 9px 14px;
  height: fit-content;
}

.result {
  margin-top: 9px;
  font-size: 16px;
  color: white;

  .success {
    p {
      margin: 0;
      word-break: break-all;

      &:not(:first-child) {
        margin-top: 2px;
      }
    }
  }

  .error {
    font-size: 14px;

    .red {
      color: #FF0004;
    }
  }
}